footer {
    width: 100%;
    margin: 0 auto;
    animation: fadeInH 1s ease-out;
}

@keyframes fadeInH {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #323232;

    padding: 2.5rem 2rem;
}

.footer-title {
    font-weight: 700;
    font-size: 1.5625rem;
    line-height: auto;
    color: #fff;

    margin-bottom: 1.25rem;
}

.footer-text {
    width: 42rem;
    text-align: left;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5625rem;
    text-align: justify;
    color: #C5C5C5;
    letter-spacing: 2%;

    margin-bottom: 1.25rem;
}

.footer-email {
    display: flex;
    align-items: center;
}

.email-icon {
    max-width: 1.5rem;
    max-height: 1.5rem;
}

.email-text {
    color: #C5C5C5;
    font-weight: 600;
    font-size: 0.875rem;
    letter-spacing: 2%;

    margin-left: 0.5rem;
}

.footer-links {
    display: flex;
    gap: 0.75rem;

    margin-top: 1.3125rem;
}

.copyright-text {
    color: #C5C5C5;
    opacity: 50%;
    font-weight: 300;
    font-size: 0.875rem;
    letter-spacing: 2%;

    margin-top: 1.09375rem;
}

.footer-email a,
.footer-links a {
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footer-email a:hover,
.footer-links a:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.email-icon,
.icon {
    transition: transform 0.3s ease;
    width: 17px;
    height: 17px;
}

.footer-email a:hover .email-icon,
.footer-links a:hover .icon {
    transform: scale(1.1);
}





@media (max-width: 1024px) {
    .footer-container {
        padding: 3rem 2rem;
    }

    .footer-text {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .footer-container {
        padding: 2rem 1rem;
    }

    .experience-role {
        font-size: 1.125rem;
    }

    .experience-text {
        font-size: 0.875rem;
    }
}

@media (max-width: 480px) {
    .project-container p {
        font-size: 1rem;
        width: 15rem;
    }

    .project-container h3 {
        width: 11rem;
    }

    .footer-container {
        padding: 1.5rem;
    }

    .footer-text,
    .email-text,
    .copyright-text {
        text-align: justify;
    }

    .footer-links {
        gap: 0.5rem;
    }
}